<div class="">
    <p>
        <button type="button" name="button" {{action 'connect'}}>连接</button>
        <button type="button" name="button" {{action 'disconnect'}}>断开</button>
    </p>
</div>
{{outlet}}
